In [1]:
# Add the Pandas dependency.
import pandas as pd

In [5]:
# File to load
vine_table_to_load = "vine_table.csv"

In [7]:
# Read the vine data file and store it in a Pandas DataFrame.
vine_table_df = pd.read_csv(vine_table_to_load)
vine_table_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10000B5EA0ZWP,4,14,15,N,Y
1,R10000KAJO8QRT,5,0,0,N,Y
2,R10000SRLJQ0VM,5,0,0,N,Y

In [71]:
yreview_df = vine_table_df[vine_table_df.vine == "Y"].count()
yreview_df["review_id"]

6

In [72]:
nreview_df = vine_table_df[vine_table_df.vine == "N"].count()
nreview_df["review_id"]

994

In [13]:
# filter vine_table_df total_votes count is equal to or greater than 20
vine_vote_df = vine_table_df[vine_table_df.total_votes>=20]
vine_vote_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13,R10007K8VEMB9R,2,7,24,N,N
23,R1000BM31RF4HI,2,26,27,N,Y
212,R1003L7NMYTNMM,2,14,24,N,N
288,R1004ZWTYXVAB2,5,51,51,N,Y
434,R1007NJM6VQZQ1,5,62,67,N,Y

In [17]:
#rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
avg_help_total_vote_df = vine_vote_df[(vine_vote_df.helpful_votes)/(vine_vote_df.total_votes)>=0.5]
avg_help_total_vote_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
23,R1000BM31RF4HI,2,26,27,N,Y
212,R1003L7NMYTNMM,2,14,24,N,N
288,R1004ZWTYXVAB2,5,51,51,N,Y

In [67]:
#retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
vine_written_review_df = avg_help_total_vote_df[avg_help_total_vote_df.vine == "Y"]
vine_written_review_df.head(3)
vine_written_review_df["vine"].count()

1

In [68]:
#retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'N'.
vine_written_No_review_df = avg_help_total_vote_df[avg_help_total_vote_df.vine == "N"]
vine_written_No_review_df.head(3)
vine_written_No_review_df["vine"].count()

6

In [34]:
#the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
total_number_of_reviews = vine_table_df["star_rating"].count()
total_number_of_reviews

1000

In [49]:
five_star_review_count_df = vine_table_df[vine_table_df.star_rating == 5]
five_star_review_count_df["star_rating"].count()

548

In [47]:
#total_number_of_No_reviews = five_star_review_count_df[five_star_review_count_df.vine"].count()
#total_number_of_No_reviews

In [53]:
five_star_unpaid_review_count_df = five_star_review_count_df[five_star_review_count_df.vine == "N"].count()
five_star_unpaid_review_count_df["vine"]

545

In [54]:
five_star_paid_review_count_df = five_star_review_count_df[five_star_review_count_df.vine == "Y"].count()
five_star_paid_review_count_df["vine"]

3

In [62]:
percentage_five_star_paid_review = (five_star_paid_review_count_df["vine"])/float(total_number_of_reviews)*100
#percentage_five_star_paid_review
print(f'{percentage_five_star_paid_review}%')

0.3%

In [66]:
percentage_five_star_unpaid_review = (five_star_unpaid_review_count_df["vine"])/(total_number_of_reviews)*100
#percentage_five_star_unpaid_review
print(f'{percentage_five_star_unpaid_review}%')

54.50000000000001%